* {
  margin: 0;
  padding: 0;
  color: black;
}
/* .list {
  list-style: none;
} */
/* .link {
  text-decoration: none;
} */
.nav-link {
  font-size: 500;
  font-weight: bold;
  border: 3px solid red;
}
.section-header {
  font-size: 500;
  font-weight: bold;
  text-align: left;
  margin-bottom: 5px;
  border: 3px solid green;
}
section {
  margin-bottom: 50px;
  border: 3px solid greenyellow;
}
p {
  margin-bottom: 5px;
}
.nav-element {
  margin-bottom: 10px;
  border: 3px solid goldenrod;
}