* {
  margin: 0;
  padding: 0;
  color: #ffffff;
  background-color: #1b1b1b;
  font-family: sans-serif;
  font-family: "Roboto", sans-serif, "Raleway", sans-serif;
  list-style: none;
}
.nav-link {
  font-size: 500;
  font-weight: bold;
  text-decoration: none;
}
.nav-link:hover {
  background: linear-gradient(360deg, rgba(129, 15, 169, 1) 0%, rgba(255, 109, 145, 1) 55%, rgba(243, 81, 81, 1) 96%) 100%;;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.section-header {
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 16px;
  align-items: center;
  color: #ff6d91;
  text-decoration-line: underline;
}

@media screen and (min-width: 768px) {
  .section-header {
    font-size: 22px;
  }
}

section {
  margin-bottom: 35px;
}
p, article{
  font-size: 16px;
  margin-bottom: 10px;
  line-height: 1.5;
}
#navbar {
  position: fixed;
  min-width: 250px;
  top: 0px;
  left: 0px;
  width: 200px;
  height: 50%;
  padding: 10px 20px;
}
.nav-header {
  margin: 10px;
  font-size: 26px;
}
#main-doc {
  position: absolute;
  display: block;
  margin-left: 300px;
  padding: 20px 20px 20px 0px;
  margin-bottom: 110px;
}
.nav-element {
  display: block;
  font-size: 20px;
  padding: 10px 30px 10px 10px;
}
.vertical-line {
  position: absolute;
  border-left: 6px solid #ff6d91;
  border-image: linear-gradient( 360deg, rgba(129, 15, 169, 1) 0%, rgba(255, 109, 145, 1) 55%, rgba(243, 81, 81, 1) 96%) 1 100%;
  height: 100vh;
  top: 0;
  left: 250px;
}
.brainfuck-list {
  margin-top: 15px;
  font-size: 16px;
  line-height: 1.5;
}
.brainfuck-list-item  {
  margin-bottom: 5px;
  margin-left: 20px;
  list-style: disc;
}
.brainfuck-list-item:first-of-type {
  margin-top: 10px;
}
table {
  background-color: #f8f9fa;
  color: #202122;
  margin: 1em 0;
  border: 1px solid #a2a9b1;
  border-collapse: collapse;
}
td {
  border: 1px solid #a2a9b1;
  padding: 0.2em 0.4em;
}
th {
  border-left: 1px solid #a2a9b1;
  padding: 0.2em 0.4em;
}
th:nth-child(2) {
  display: flex;
  justify-content: start;
}
code {
  border-radius: 2px;
  background-color: #343434;
  color: #ffffff;
  border: 1px double #858585;
}
pre code {
  border: none;
}
pre {
  padding: 10px;
  border-radius: 2px;
  border: 2px solid #858585;
  background-color: #343434;
}
.p-styled {
  margin: 15px 0;
}